/*@import 'variables.css';
@import 'atoms.css';
@import 'molecules.css';
@import 'organisms.css';
@import 'layout.css'*/


#duckList{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: light;
    font-size: 16px;
    color:chocolate;
}